api/node_modules
api/logs
api/.env
api/.env.dev
api/.env.prod
api/package.json
api/**.crt
api/**.pem
api/**.key
api/nohup.out
api/uploads/

front/node_modules
front/.env.development
front/.env.production
.DS_Store
.vscode
