
.header-wrapper {
    padding: 15px 30px 30px 50px;
    background-color: #f1f4f8;
    padding-bottom: 0;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}

/* 
.tabbed-form {
    left: 120px;
    position: absolute;
    bottom: 0;
}
*/

/* --- 2. Navegación Responsiva con Scroll Horizontal --- */
.nav-responsive-scroll {
    display: flex;
    /*flex-wrap: nowrap !important;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    border-bottom: none !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 2px;
}

.nav-responsive-scroll .nav-item {
    flex: 0 0 auto;
}

.nav-responsive-scroll::-webkit-scrollbar {
    display: none;
}


.nav-link {
    color: #122544;
    padding: 0.75rem 1rem;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    transition: border-color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #122544;
}

.nav-link.active {
    border-bottom: 2px solid #122544 !important; /* Change the border color and width */
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: transparent !important; /* Remove the background color */
    color: #122544 !important; /* Change the text color */
}

.container{
    margin-top: 40px;
}

.campo-error {
    border: 2px solid red;
    background-color: #ffdddd;
}

.form-check .form-check-input {
    margin-top: 5px !important;
}

h2 {
    border-bottom-color: #122544;
    border-bottom-style: solid;
    border-bottom-width: 1.2pt;
    margin-top: 25px;
}

span.pull-end{
    float: right;
}

.input-group-text {
    font-size: .89rem;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.widget-container {
    min-width: 0;
}